*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 15px;
   }
   #navigation{
    min-height: 290px;
    width: 190px;
    vertical-align: top;
    background-color: blue;
    margin:20px;
    display: inline-block;

   }
   #main_content{
    min-height: 400px;
    width: 685px;
    vertical-align: right;
    background-color: red;
    margin:10px;
    display: inline-block;
    overflow: hidden;
    height: auto;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px 6px;
    display: inline-block
    
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin:20px;
   }
   